body {
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  color: #fff;
}

.add-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.add-card-title {
  font-size: 30px;
  padding-bottom: 30px;
}

.add-card-inputs {
  width: max-content;
}

.input-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
}

.input-block span {
  margin-right: 40px;
}

.input-block input {
  width: 217px;
  padding: 5px 3px;
  outline: none;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.add-card-button {
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
}

.items {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items::after {
  content: "";
  width: 15%;
}